{% extends "todo/base.html" %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    Update Task
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form }}

                        <div class="my-4">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                        </div>

                    </form>
                </div>

            </div>
            <a href="/" class="btn btn-warning my-3"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>

        </div>
    </div>

{% endblock %}